.slider {
  background: url(../img/slider-img.jpg);
  height: 600px;
}

.circle {
  width: 30px;
  height: 30px;
  display: inline-block;
  background-color: #c7c7c7;
  border-radius: 50%;
  margin: 5px;
}
.circle:hover {
  background-color: #212121;
}

.circle-active {
  width: 40px;
  height: 40px;
  background-color: #212121;
  margin-bottom: 0px;
}

.pagination {
  display: flex;
  align-items: flex-end;
  padding-bottom: 20px;
}
