body {
  font-family: "Montserrat", sans-serif;
  background-color: #ffffff;
  color: #212121;
}

.slider {
  height: 800px;
  background: url(../img/slider-img.jpg);
}

.slider-tag {
  color: #43a047;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
}

.slider-tag:hover {
  color: #ffffff;
}

.slider-name {
  text-transform: uppercase;
  font-weight: 100;
  line-height: 1.16;
  color: #212121;
}

.slider-content {
  font-weight: 300;
  line-height: 24px;
  margin-top: 283px;
  max-width: 50%;
  padding-left: 5%;
  padding-right: 5%;
}

.slider-details {
  color: #6c6c6c;
}

.slider-button {
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 23px;
  background-color: #ffffff;
  box-shadow: 0 2px 5px 1px rgba(33, 33, 33, 0.35);
  width: 212px;
  text-align: center;
  line-height: 45px;
  display: inline-block;
  letter-spacing: 3.6px;
  color: #6c6c6c;
}

.slider-button-img {
  visibility: hidden;
}

.slider-button:hover .slider-button-img {
  color: #212121;
  visibility: visible;
  text-decoration: none;
}

.slider-button:active {
  box-shadow: none;
}

.pagination {
  width: 50em;
  margin-left: auto;
  margin-right: auto;
}

.circle {
  width: 30px;
  height: 30px;
  display: inline-block;
  background-color: #c7c7c7;
  border-radius: 50%;
  margin: 5px;
}

.circle-active {
  width: 40px;
  height: 40px;
  background-color: #212121;
}

.circle:hover {
  background-color: #212121;
}
